.accordian_section {
  overflow: hidden;
  background-color: #0c0c1d;
  padding-top: 100px;
  padding-bottom: 100px;
}
.acr-hd {
  color: #fff;
  text-transform: uppercase;
}
.para-acrd {
  color: #757575;
  font-size: 18px !important;
  padding-left: 0;
  line-height: 26px !important;
}
.acr-btn {
  text-transform: uppercase;
  padding: 20px 27px 20px 27px !important;
  font-weight: 500 !important;
  background-color: #be8233;
  color: #fff;
  font-size: 12px;
  border-radius: 56px;
  letter-spacing: 1px;
}
button.section-content__btn.minus {
  position: absolute;
  left: auto;
  top: 0;
  width: 40px;
}
button.section-content__btn.puls {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.section {
  position: relative;
}
.section-images {
  position: absolute;
  left: 70px;
}
.conatiner_top-section {
  display: flex !important;
}
.section-content__firstwdt {
  width: 50%;
  padding-left: 0px;
}
.section-content__secondwdt {
  width: 50%;
}
.section-content__thrdwdt {
  width: 100%;
  padding-left: 98px;
}
.section-content__item.active .section-content__thrdwdt {
  padding-left: 100px;
}
.flx-content {
  display: flex;
}
.content-section_frsttab {
  width: 50%;
}
.content-section_scdtab {
  width: 50%;
}
.content-section_thrdtab {
  width: 100%;
  padding-left: 56px;
}
.container {
  margin: 3vw auto 3vw;
  height: 72vh;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
.num-ttl {
  font-size: 22px !important;
  font-weight: 300;
}
.section-content__fourwdt {
  position: relative;
}
.section-content__item.active .puls {
  opacity: 0;
}
.section-content__item .minus {
  opacity: 0;
}
.section-content__item.active .minus {
  opacity: 1 !important;
  position: absolute;
  top: 0;
  right: 0;
}
.lrnmore {
  color: #fff;
}
.larn-stn-con {
  padding-top: 30px;
}
/* @media (max-width: 1440px) {
  .container {
    margin: 1vw auto 1vw;
    width: 90vw;
    height: calc(100vh - 2vw);
  }
} */
@media (max-width: 790px) {
  .container {
    height: 100%;
  }
}

.section {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-images {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  list-style: none;
  transition: all 0.8s cubic-bezier(0.68, 0.43, 0.19, 1);
  z-index: 1;
}
@media (max-width: 1440px) {
  .section-images {
    width: 60%;
  }
}
@media (max-width: 790px) {
  .section-images {
    display: none;
  }
}
.section-images__item {
  width: 100%;
  height: 100%;
}
.section-images__item img {
  width: 100%;
  height: 72vh;
  object-fit: contain;
}

.section-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
  padding-top: 80px;
}
@media (max-width: 1440px) {
  .section-content {
    width: 100%;
  }
  @media only screen and (min-device-width: 1441px) and (max-device-width: 1540px) {
    .section-content {
      width: 100%;
    }
  }
  .section-images__item img {
    width: 80%;
    height: 80vh;
  }
  .container {
    height: 80vh;
  }
  .section-content__firstwdt {
    padding-left: 0px;
  }
  .section-content__thrdwdt {
    padding-left: 120px;
    z-index: 2;
  }
  .content-section_thrdtab {
    padding-left: 109px;
  }
}
@media (max-width: 790px) {
  .section-content {
    width: 100%;
  }
}
.section-content__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff36;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: height 0.5s ease-in-out; /* Added transition */
  position: relative;
}
@media (max-width: 790px) {
  .section-content__item {
    padding-bottom: 1px;
  }
}
.section-content__item.active {
  height: auto;
  background-color: #521b26;
  padding: 30px;
  border: 0px;
}
.section-content__item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #0d0c1d;
  top: -1px;
}
.section-content__item.active .section-content__content {
  height: auto;
}
.section-content__item.active .section-content__title {
  background-position: 0 100%;
}
.section-content__top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid white;
}
@media (max-width: 600px) {
  .section-content__top {
    padding: 20px 10px;
  }
}
.section-content__top:hover .section-content__title {
  background-position: 0 100%;
}
h2.section-content__title {
  font-size: 32px;
}
.section-content__title {
  margin: 0;
  display: inline-block;
  overflow: hidden;
  color: #ffff;
  background: linear-gradient(to right, #fff, #fff 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.8s cubic-bezier(0.68, 0.43, 0.19, 1);
}
.section-content__content {
  height: 0;
  padding: 0 20px;
  overflow: hidden;
  margin-bottom: -1px;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Added transition */
}
.lrnmore {
  padding-left: 34px;
}
@media (max-width: 600px) {
  .section-content__content {
    padding: 0 10px;
  }
}
.section-content__text {
  color: #757575;
  padding-left: 30px;
}
.section-content__info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .section-content__info {
    gap: 10px;
  }
}
.section-content__info-item {
  display: flex;
}
.section-content__info-item .number {
  margin-right: 7px;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
}
.section-content__info-item .text {
  margin-top: 4px;
  width: 40%;
  font-weight: 400;
  color: white;
  white-space: break-spaces;
}
.section-content__link {
  position: relative;
  display: inline-block;
  margin: 0 0 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  transition: all 0.8s cubic-bezier(0.68, 0.43, 0.19, 1);
  z-index: 1;
}
.section-content__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #3d8ac9;
  z-index: -1;
  transition: width 0.8s cubic-bezier(0.68, 0.43, 0.19, 1);
}
.section-content__link:hover {
  background-position: 0 100%;
  border-color: #3d8ac9;
}
.section-content__link:hover:after {
  width: 100%;
}
.section-content__item {
  padding: 30px;
}
/* .section-content img {
  display: none;
} */
@media (max-width: 790px) {
  .section-content img {
    position: relative;
    left: -20px;
    display: block;
    width: calc(100% + 40px);
    max-height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  .section-content img {
    max-height: 200px;
  }
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1280px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100% !important;
  }
  .content-section_scdtab {
    width: 50%;
  }
  .container {
    height: 95vh;
  }
  .section-images__item img {
    width: 80%;
    height: 95vh;
  }
  .acr-btn {
    padding: 15px 14px 17px 15px !important;
  }
  .section-content__item.active .section-content__thrdwdt {
    padding-left: 105px;
  }
  .content-section_thrdtab {
    padding-left: 66px;
  }
  .section-content__thrdwdt {
    padding-left: 108px;
  }
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1369px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100% !important;
  }
  .container {
    height: 95vh;
  }
  .content-section_scdtab {
    width: 50%;
  }
  .acr-btn {
    padding: 15px 14px 17px 15px !important;
  }
  .section-content__item.active .section-content__thrdwdt {
    padding-left: 60px;
  }
  .content-section_thrdtab {
    padding-left: 20px;
  }
  .section-content__thrdwdt {
    padding-left: 60px;
  }
}
@media only screen and (min-device-width: 1370px) and (max-device-width: 1440px) {
  .section-content__item.active .section-content__thrdwdt {
    padding-left: 60px;
  }
  .section-content__thrdwdt {
    padding-left: 60px !important;
  }
  .content-section_thrdtab {
    padding-left: 18px;
  }
}
@media only screen and (min-device-width: 1541px) and (max-device-width: 1600px) {
  .container {
    height: 90vh !important;
  }
  .section-images__item img {
    height: 90vh;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 1536px) {
  .container {
    height: 90vh !important;
  }
  .section-images__item img {
    height: 90vh;
  }
}
/* @media screen and (max-width: 1280px) and (max-height: 657px){
  .section-images__item img {
    width: 80%;
    height: 95vh;
}
.container {
  height: 95vh;
}
.section-content__firstwdt {
  padding-left: 5px;
}
.section-content__thrdwdt {
  padding-left: 110px;
}
.content-section_thrdtab {
  padding-left: 95px;
}
.section-content__item.active.section-content__thrdwdt {
  padding-left: 110px;
}
.section-content__item.active .section-content__thrdwdt {
  padding-left: 100px;
}

} */
@media screen and (max-width: 1366px) and (max-height: 657px) {
  .section-images__item img {
    height: 96vh;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .container {
    height: 100%;
    padding: 0;
  }
  .section-content__thrdwdt {
    padding-left: 0;
  }
  .section-content__firstwdt {
    display: none;
  }
  .section-content__secondwdt {
    display: none;
  }
  .section-content__item {
    padding: 20px;
  }
  .section-content__item.active .section-content__thrdwdt {
    padding-left: 0;
  }
  .section-content__item.active {
    padding: 20px;
  }
  h2.section-content__title {
    font-size: 27px;
  }
  .content-section_thrdtab {
    padding-left: 0;
  }
  .content-section_frsttab {
    display: none;
  }
  .content-section_scdtab {
    display: none;
  }
  .accordian_tabs {
    padding-top: 50px;
  }
  img.arrow {
    width: 20px;
    height: 15px;
    margin-top: 6px;
  }
  .section-content__text {
    padding-left: 0px;
  }
  a.rd-mr-a.lrnmore {
    padding: 0;
    padding-right: 10px;
  }
  .section-content__content.flx-content {
    padding: 0;
  }
  .section-content__content.flx-content {
    padding: 0px !important;
  }
  .accordian_section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  p.para-acrd {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .mob-cnt-btn {
    margin-top: 20px;
    /* display: flex;
    justify-content: center; */
  }
  .accordian_cont_section {
    padding-left: 0px;
    padding-right: 0px;
  }
  .accordian_section .accord_col_1,
  .accordian_section .accord_col_2,
  .accordian_section .accord_col_3 {
    padding: 0 30px;
  }
  .accordian_tabs .container {
    padding: 0;
  }
  .section-content {
    padding-top: 0px;
  }
  .section-content img {
    left: 0;
  }
  button.section-content__btn.puls,
  button.section-content__btn.minus {
    width: 35px;
  }
  .acr-btn {
    padding: 15px 20px !important;
  }
  .accord_col_2 p{
    margin: 25px 0px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .tab-hd-btm-spc {
    padding-bottom: 50px;
  }

  .section-content__item.active .section-content__thrdwdt {
    padding-left: 0;
  }
  .section-content__firstwdt {
    width: 10%;
    padding-left: 0px;
  }
  .container {
    height: 100%;
    padding: 0;
  }
  .section-content__thrdwdt {
    padding-left: 0;
  }

  .section-content__item {
    padding: 20px 0px;
  }
  .section-content__item.active .section-content__thrdwdt {
    padding-left: 0;
  }
  .section-content__item.active {
    padding: 20px 20px;
  }
  .content-section_thrdtab {
    padding-left: 0;
  }
  .content-section_frsttab {
    display: none;
  }
  .content-section_scdtab {
    display: none;
  }
  img.arrow {
    width: 20px;
    height: 15px;
    margin-top: 6px;
  }
  .section-content__text {
    padding-left: 0px;
  }
  a.rd-mr-a.lrnmore {
    padding: 0;
    padding-right: 10px;
  }
  .section-content__content.flx-content {
    padding: 0;
  }
  .section-content__content.flx-content {
    padding: 0px !important;
  }
  .accordian_section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  p.para-acrd {
    font-size: 16px;
  }
  .section-content__secondwdt {
    width: 0%;
  }
  .content-section_thrdtab {
    padding-left: 62px;
    padding-right: 80px;
  }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {
  .AccrodianSollution .accordian_section{
    padding: 80px 50px;
  }
}
